<div class="auth-page">

  <div class="auth-container">

    <h1 class="brand">MoneyPilot</h1>
    <p class="subtitle">Personal Finance Tracker</p>
    <h2>{{ title }}</h2>

    <form [formGroup]="form" (ngSubmit)="submit.emit()">

      <!-- Email -->
      <div class="form-group">

        <label>Email</label>

        <input
          type="email"
          formControlName="email"
          placeholder="Enter email"
        />

        <div class="error">
          <small *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['required']">
            Email is required
          </small>

          <small *ngIf="form.controls['email'].touched && form.controls['email'].errors?.['email']">
            Invalid email format
          </small>
        </div>

      </div>

      <!-- Password -->
      <div class="form-group">

        <label>Password</label>

        <div class="password-wrapper">

          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Enter password"
          />

          <!-- <button
            type="button"
            class="toggle-btn"
            (click)="showPassword = !showPassword">
            👁
          </button> -->

          <button type="button" class="toggle-btn">
          <span class="material-icons" (click)="showPassword = !showPassword">
            {{ showPassword ? 'visibility_off' : 'visibility' }}
          </span> 
          </button>
        </div>

        <div class="error">
          <small *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']">
            Password is required
          </small>

          <small *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['minlength']">
            Minimum 6 characters required
          </small>
        </div>

      </div>

      <!-- Submit -->
      <button
        type="submit"
        class="submit-btn"
        [disabled]="!form.dirty || form.invalid || loading">

        {{ loading ? 'Processing...' : buttonText }}

      </button>

      <!-- Footer -->
      <div class="auth-footer">
        <ng-content></ng-content>
      </div>

    </form>

  </div>

</div>