## Ignore Visual Studio artifacts
.vs/
*.user
*.suo

## Ignore build output
bin/
obj/

## Ignore Angular build output
dist/
node_modules/

## Ignore temporary files
*.log
*.tmp
.env
/src/MoneyPilot.API/Logs/moneypilot_api_log20260203.txt
/.gitignore
/src/MoneyPilot.API/Logs
/src/MoneyPilot.API/Logs/*
/docs/Backend_Implementation_Spec.md
/docs/Frontend_Implementation_Spec.md
