## Ignore Visual Studio artifacts
.vs/
*.user
*.suo

## Ignore build output
bin/
obj/

## Ignore Angular build output
dist/
node_modules/

## Ignore temporary files
*.log
*.tmp
.env
/.gitignore
/docs/Backend_Implementation_Spec.md
/docs/Frontend_Implementation_Spec.md
/backend/src/MoneyPilot.API/Logs/*
frontend(old)/*
docs/Latest-references.md
